body {
    font-size: x-large;
    font-family: sans-serif;
    background-image: url("images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0;    
}

.container {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;     
}

.icon {
    margin-bottom: -50px;
    padding-bottom: 0;
}

input {
    border: none;
    border-bottom: 4px dotted navy;    
}

.book-card {
    
    border: 2px solid coral;
    margin: 10px;
    width: 300px;
    text-align: center;
    font-size: large;
}
 
#add-book-button {
    margin: 24px;   
    height: 40px;
    width:80px;
    
}

#book-list {
    display: flex;   
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.book-list {
    max-width: 1300px;
}

.header {
    text-align: center;
}




